# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName royalrentalsbyearl.com
AuthUserFile /home/royalren/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/royalren/public_html/_vti_pvt/service.grp
